<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopping-Cart list</title>
</head>
<body>
<div id="contents" class="row" layout:fragment="main-content">
    <div th:replace="components/userAccessMenu :: mnu">User menu</div>
    <div class="col-lg-9">
                <div class="h4">Shopping cart</div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart, iter : ${items}">
                <th scope="row" th:text="${iter.index+1}">1</th>
                <td th:text="${cart.product}">iPhone</td>
                <td><input th:value="${cart.quantity}"  style="width:4em" type="number"  min="1" step="1" class="form-control currency checkoutQuantity" th:data-cart-id="${cart.id}"></td>
                <td th:text="${'$'+cart.product.price*cart.quantity}">$0.00</td>
                <td>
                    <a href="#" class="remove-shopping-cart" th:data-cart-id="${cart.id}">Remove</a>
                </td>
            </tr>
            <tr>
                <th colspan="3">Total sum</th>
                <th th:text="${#lists.isEmpty(items)}?'$0':${'$'+ #aggregates.sum(items.![product.price*quantity])}">$100</th>
                <td>
                </td>
            </tr>
            <tr th:if="${!#lists.isEmpty(items)}">
                <td colspan="3"></td>
                <td colspan="2"><a class="btn btn-secondary" href="#" th:href="@{/buyer/checkout}">Proceed to checkout</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/buyer.js}"></script>
</th:block>
</body>
</html>