<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<div th:fragment="prod(product)" class="col-lg-4 col-md-6 mb-4 product-card">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="#" th:src="${'/img/'+product.imgName}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#" th:text="${product.title}">Item One</a>
            </h4>
            <h5 th:text="${product.price}">$24.99</h5>
            <p class="card-text" th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>

</body>
</html>