<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="mnu" class="col-lg-3">
    <div th:if="${#request.isUserInRole('ADMIN')}">
        <h1 class="h4">Admin menu</h1>
        <div class="list-group">
            <a href="#" th:href="@{/admin/pending-sellers}" class="list-group-item">Pending sellers</a>
            <a href="#" th:href="@{/admin/created-reviews}" class="list-group-item">Created reviews</a>
        </div>
    </div>
    <div th:if="${#request.isUserInRole('SELLER')}">
        <h1 class="h4">Seller menu</h1>
        <div class="list-group">
            <a href="#" th:href="@{/seller/my-products}" class="list-group-item">My products</a>
            <a href="#" th:href="@{/seller/order/list}" class="list-group-item">Orders</a>
        </div>
    </div>
    <div th:if="${#request.isUserInRole('BUYER')}">
        <h1 class="h4">Buyer menu</h1>
        <div class="list-group">
            <a href="#" th:href="@{/buyer/address/list}" class="list-group-item">Address</a>
            <a href="#" th:href="@{/buyer/billing/list}" class="list-group-item">Billing Information</a>
            <a href="#" th:href="@{/buyer/order/list}" class="list-group-item">Orders</a>
        </div>
    </div>
</div>
</body>
</html>