<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="contents" class="row" layout:fragment="main-content">
        <div th:replace="components/userAccessMenu :: mnu">User menu</div>
        <div class="col-lg-9">
            <div class="h4">Billing info</div>
            <div class="panel-body">
                <a href="#" class="btn btn-secondary btn-sm" th:href="@{/buyer/billing/bank/save}" >Add Bank Account</a><span>&nbsp;</span>
                <a href="#" class="btn btn-secondary btn-sm" th:href="@{/buyer/billing/card/save}" >Add Credit Card</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Billing Information</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="billing, iter : ${bills}">
                    <th scope="row" th:text="${iter.index+1}">1</th>
                    <td th:text="${billing}">Billing Information</td>
                    <td>
                        <a href="#" th:href="@{/buyer/billing/{billingType}/update/{billingId}(billingType=${billing.type},billingId=${billing.id})}">Edit</a>
                        <a href="#" class="deleteBilling" th:data-billing-id="${billing.id}">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/buyer.js}"></script>
    </th:block>
</body>
</html>