<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
</head>
<body>

<div id="contents" class="row" layout:fragment="main-content">
    <div th:replace="components/userAccessMenu :: mnu">Seller menu</div>
    <div class="col-lg-9">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Ordered products</th>
                <th scope="col">Buyer</th>
                <th scope="col">Sipping address</th>
                <th scope="col">Dates</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order,iter : ${orders}">
                <th scope="row" th:text="${iter.index+1}">1</th>
                <td th:text="${order.status}">Delivered</td>
                <td>
                    <div th:each="op :${order.orderedProducts}" th:text="${op}">iPhone</div>
                </td>
                <td th:text="${order.buyer}">Good seller</td>
                <td th:text="${order.shippingAddress}">05/11/2020</td>
                <td>
                    <div th:text="${'Ordered: ' + order.orderDate}">05/11/2020</div>
                    <div th:if="${order.shippingDate!=null}" th:text="${'Shipped: '+order.shippingDate}">05/11/2020</div>
                    <div th:if="${order.deliveredDate!=null}" th:text="${'Delivered: '+order.deliveredDate}">05/11/2020</div>
                    <div th:if="${order.canceledDate!=null}" th:text="${'Canceled: '+order.canceledDate}">05/11/2020</div></td>
                <td>
                    <a th:if="${order.isStatusCreated()}" href="#" class="cancelOrderBySeller" th:data-order-id="${order.id}">Cancel order</a>
                    <a th:if="${order.isStatusCreated()}" href="#" class="makeAsShipped" th:data-order-id="${order.id}">Make it as Shipped</a>
                    <a th:if="${order.isStatusShipped()}" href="#" class="makeAsDelivered" th:data-order-id="${order.id}">Make it as Delivered</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/seller.js}"></script>
</th:block>
</body>
</html>