<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="contents" layout:fragment="main-content">
    <div class="alert-danger" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="alert-info" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form name='f' th:action="@{/login}" method="post">
        <table>
            <tr>
                <td><label for="email"> Email:</label></td><td><input type="text" id="email" name="email"/> </td>
            </tr>
            <tr>
                <td><label for="password"> Password:  </label></td> <td> <input type="password" id="password" name="password"/></td>
            </tr>
            <tr><td></td>
                <td>
                    <input type ="checkbox" name="keepMe"/> Remember Me?
                </td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Sign In"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>