<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>MIU Online Market</title>
</head>
<body>
		<div id="contents" class="row" layout:fragment="main-content">
			<div class="col-lg-3">
				<h1 class="my-4">Online Market</h1>
				<div class="list-group">
					<a href="#" th:each="cat : ${categories}" th:href="@{/(category=${cat.id})}" th:text="${cat.name}" class="list-group-item">Category 1</a>
				</div>
			</div>
			<!-- /.col-lg-3 -->
			<div class="col-lg-9">
				<div class="row">
					<th:block th:each="product : ${products}">
						<div th:replace="components/productCard :: prod(${product})">Product</div>
					</th:block>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col-lg-9 -->
		</div>
</body>
</html>