<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Online Market</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
		<div id="contents" layout:fragment="main-content">
			<div id="main">
				<div id="sale">
					<h4><span>Sale Items</span></h4>
					<ul class="items">
						<li>
							<a href="product.html"> <img class="prod-img" src="images/laptop1.jpg" alt="Img"> <span>$850.50</span> Laptop </a>
						</li>
						<li>
							<a href="product.html"> <img class="prod-img" src="images/laptop-aser.jpg" alt="Img"> <span>$1080.50</span> Aser laptop </a>
						</li>
						<li>
							<a href="product.html"> <img class="prod-img" src="images/iphone.jpg" alt="Img"> <span>$800.50</span> Iphone 11 </a>
						</li>
						<li>
							<a href="product.html"> <img class="prod-img" src="images/boots-green.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
</body>
</html>