<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div id="contents" class="row" layout:fragment="main-content">
    <div class="col-lg-3">
        <h1 class="h4">Online Market</h1>
        <div class="list-group">
            <a href="#" th:href="@{/}" class="list-group-item">All categories</a>
            <a href="#" th:each="cat : ${categories}" th:href="@{/(category=${cat.id})}" th:text="${cat.name}"
               class="list-group-item">Category 1</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x400"
                 th:src="@{/img/{imgName}(imgName=${product.imgName})}" alt="">
            <div class="card-body">
                <h3 class="card-title" th:text="${product.title}">Product Name</h3>
                <h4 th:text="${'$'+product.price}">$24.99</h4>
                <pre class="card-text" th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores,
                    sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</pre>
                <p sec:authorize="hasRole('BUYER')">
                    <button href="#" class="addCart" th:data-product-id="${product.id}">Add Cart</button>
                    <span th:if="${isproductincart}">
                        <span>&nbsp;</span> This item in shopping cart<span>&nbsp;</span><span>&nbsp;</span>
                        <a href="#" style="text-decoration: none" th:href="@{/buyer/cart/list}">click to view</a>
                    </span>
                </p>
                <span class="text-warning">[(${product.starsText})]</span>
                <span th:text="${product.avgStars}"> 4.0</span> stars
                <p>Follow Seller <a href="#" style="text-decoration: none" th:href="@{/seller/get/{sellerId}(sellerId=${seller.id})}" th:text="${seller.name}">Seller Name </a> </p>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <div th:each="review: ${product.reviews}">
                        <th:block th:if="${review.isPosted()}">
                            <p th:text="${review.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam
                                fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted" th:text="${'Posted by '+review.buyer.toString() + ' on '+ review.createdDate}">Posted by Anonymous on 3/1/17</small>
                            <hr>
                        </th:block>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/buyer.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>