<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details Address</title>
</head>
<body>
<div id="contents" class="row" layout:fragment="main-content">
    <div th:replace="components/userAccessMenu :: mnu">User menu</div>
    <div class="col-lg-9">
        <div class="h4">Edit address</div>
        <form method="POST" action="#" th:object="${address}" th:action="@{/buyer/address/update/{addressId}(addressId=${address.id})}">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="City">
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:class="${'text-danger'}">
                    Incorrect City</p>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" th:field="*{state}" placeholder="State">
                <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" th:class="${'text-danger'}">
                    Incorrect State</p>
            </div>
            <div class="form-group">
                <label for="state">Street</label>
                <input type="text" class="form-control" id="street" th:field="*{street}" placeholder="Street">
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" th:class="${'text-danger'}">
                    Incorrect Street</p>
            </div>
            <div class="form-group">
                <label for="state">ZIP Code</label>
                <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" placeholder="ZIP Code">
                <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" th:class="${'text-danger'}">
                    Incorrect ZIP Code</p>
            </div>
            <div class="form-group">
                <label for="state">Country</label>
                <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Country">
                <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:class="${'text-danger'}">
                    Incorrect Country</p>
            </div>
            <div class="form-group">
                <label for="state">Phone Number</label>
                <input type="text" class="form-control" id="phoneNo" th:field="*{phoneNo}" placeholder="Phone Number">
                <p th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" th:class="${'text-danger'}">
                    Incorrect Phone Number</p>
            </div>
            <div id="form-group">
                <input class="btn btn-primary btn-sm" name="save" value="Update" type="submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>