<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<div id="contents" class="row" layout:fragment="main-content">
<div th:replace="components/userAccessMenu :: mnu">User menu</div>
<div class="col-lg-9">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Billing Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${billinginfo}">Billing Information</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>